<html>
        <head>

        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Verification Code </title>
    
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    
    </head>
    
    <body class="bg-gray-100">
    
        <div class="max-w-6xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
    
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    
                <div class="px-4 py-5 sm:px-6">
    
                    <h2 class="text-lg leading-6 font-medium text-gray-900">
    
                        Verification Code 
    
                    </h2>
    
                </div>
    
                <div class="border-t border-gray-200">
    
                    <dl>
    
                        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
    
                            <dt class="text-sm font-medium text-gray-500">
    
                                Username
    
                            </dt>
    
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    
                                ${dataStorage.username}
    
                            </dd>
    
                        </div>
    
                        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
    
                            <dt class="text-sm font-medium text-gray-500">
    
                                Verification Code
    
                            </dt>
    
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    
                            <b>${verificationCode}</b>
    
                            </dd>
    
                        </div>
    
                    </dl>
    
                </div>
    
            </div>
    
        </div>
    
    
        <footer class="bg-white shadow">
    
            <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    
                <p class="text-center text-sm text-gray-500">
    
                    Please don't reply to this email. To get in touch with us, click <a href="https://www.paypal.com/help" class="text-blue-600 hover:text-blue-500">Help & Contact</a>.
    
                </p>
    
            </div>
    
        </footer>
    </body>
    </html>