<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../head'); %>
    <style>
        #sidebar_kiri.closed #sidebar_title {
            transition: all .3s;
        }

        #sidebar_kiri {
            transition: all .3s;
        }

        #sidebar_kiri.closed {
            width: 100px;
            transition: all .3s;
        }
        
    </style>
</head>
<body class="bg-amber-100/50 pl-32">
    <aside id="sidebar_kiri" class="fixed top-0 left-0 bg-zinc-800 w-60 h-screen p-5">
        <div class="flex flex-col items-center justify-center w-full h-auto">
            <img id="sidebar_logo" src="https://cdn-icons-png.flaticon.com/128/3836/3836558.png" alt="">
            <h1 id="sidebar_title" class="font-bold font-varela text-white text-2xl">
                Nama App
            </h1>
        </div>
        <div class="absolute top-0 right-0 w-16 h-16 translate-y-12 translate-x-8 bg-zinc-800 rounded-2xl flex items-center justify-center">
            <button id="sidebar_toggle" class="text-white p-2 rounded-lg hover:bg-white hover:text-zinc-800 transition-all duration-300">
                <svg class="w-6 h-6 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/></svg>
            </button>
        </div>
        <div id="sidebar_content" class="w-full h-full py-5 px-3 space-y-5">
            <a href="/dashboard" id="sidebar_content_item" class="flex items-center gap-4 font-varela text-white font-bold border border-white/0 hover:border-white w-full p-2 rounded-lg transition-all duration-300">
                <svg class="w-5 h-5 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M20 9V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v7h20ZM0 11v2a2 2 0 0 0 2 2h7v3H6a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2h-3v-3h7a2 2 0 0 0 2-2v-2H0Z"/></svg>
                <span id="sidebar_content_title">
                    Dashboard
                </span>
            </a>
            <a href="/dashboard" id="sidebar_content_item" class="flex items-center gap-4 font-varela text-white font-bold border border-white/0 hover:border-white w-full p-2 rounded-lg transition-all duration-300">
                <svg class="w-5 h-5 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M20 9V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v7h20ZM0 11v2a2 2 0 0 0 2 2h7v3H6a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2h-3v-3h7a2 2 0 0 0 2-2v-2H0Z"/></svg>
                <span id="sidebar_content_title">
                    Payment
                </span>
            </a>
            <a href="/dashboard" id="sidebar_content_item" class="flex items-center gap-4 font-varela text-white font-bold border border-white/0 hover:border-white w-full p-2 rounded-lg transition-all duration-300">
                <svg class="w-5 h-5 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M20 9V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v7h20ZM0 11v2a2 2 0 0 0 2 2h7v3H6a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2h-3v-3h7a2 2 0 0 0 2-2v-2H0Z"/></svg>
                <span id="sidebar_content_title">
                    Profile
                </span>
            </a>
            <a href="/logout" id="sidebar_content_item" class="flex items-center gap-4 font-varela text-white font-bold border border-white/0 hover:border-white w-full p-2 rounded-lg transition-all duration-300">
                <svg class="w-5 h-5 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M20 9V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v7h20ZM0 11v2a2 2 0 0 0 2 2h7v3H6a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2h-3v-3h7a2 2 0 0 0 2-2v-2H0Z"/></svg>
                <span id="sidebar_content_title">
                    Logout
                </span>
            </a>
            <%=
            const admin = true;
            if(admin) { %>
                <a href="/dashboard" id="sidebar_content_item" class="flex items-center gap-4 font-varela text-white font-bold border border-white/0 hover:border-white w-full p-2 rounded-lg transition-all duration-300">
                    <svg class="w-5 h-5 text-inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M20 9V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v7h20ZM0 11v2a2 2 0 0 0 2 2h7v3H6a1 1 0 0 0 0 2h8a1 1 0 0 0 0-2h-3v-3h7a2 2 0 0 0 2-2v-2H0Z"/></svg>
                    <span id="sidebar_content_title">
                        Patch Notes
                    </span>
                </a>
            <% } %>
        </div>
    </aside>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $('#sidebar_toggle').on("click", function() {
            if($('#sidebar_kiri').hasClass('closed')){
                $('#sidebar_kiri #sidebar_title').show();
                $('#sidebar_kiri #sidebar_content_item #sidebar_content_title').show();
                $('#sidebar_kiri').removeClass('closed');
            }else{
                $('#sidebar_kiri #sidebar_title').hide();
                $('#sidebar_kiri #sidebar_content_item #sidebar_content_title').hide();
                $('#sidebar_kiri').addClass('closed');
            }
        });
    </script>

</body> 
</html>